.body-container {
  background: rgb(218, 216, 115);
  background: linear-gradient(
    142deg,
    rgba(218, 216, 115, 1) 0%,
    rgba(239, 238, 180, 1) 47%
  );
  height: fit-content;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.body-title {
  color: black;
  font-size: 22px;
}

.streak-label {
  font-size: 22px;
  padding-top: 10px;
}
