.modal-container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 2px gray;
}

.modal-country {
  font-size: 36px;
}

.modal-flag {
  height: 45%;
  width: 65%;
  box-shadow: 0px 1px 3px 2px gray;
}

.guess-response {
  font-size: 20px;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.modal-button {
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.modal-learn-button {
  background-color: var(--light-green);
  color: whitesmoke;
  text-decoration: none;
}

.modal-learn-button:hover {
  background-color: var(--dark-green);
  transform: scale(1.1);
}

.modal-close-button {
  background-color: var(--navy);
  color: whitesmoke;
}

.modal-close-button:hover {
  background-color: black;
  transform: scale(1.1);
}
